<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.xcaret.loyaltyreps">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-feature
            android:name="android.hardware.camera"
            android:required="true"/>
    <uses-feature
            android:name="android.hardware.camera.autofocus"
            android:required="true"/>
    <uses-feature
            android:name="android.hardware.camera.flash"
            android:required="false"/>

    <application
            android:name=".SpInKotlinApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher_round"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:hardwareAccelerated="true"
            android:requestLegacyExternalStorage="true"
            android:theme="@style/AppTheme">

        <activity android:name=".view.fragments.training.FullSlideActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/SplashTheme" />

        <activity
                android:name=".view.LoadPDFActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".view.YouAreReadyActivity"
                android:screenOrientation="portrait"
                android:theme="@style/SplashTheme"/>
        <activity
                android:name=".view.WelcomeActivity"
                android:screenOrientation="portrait"
                android:theme="@style/SplashTheme"/>
        <activity
                android:name=".view.TutorialActivity"
                android:screenOrientation="portrait"
                android:theme="@style/SplashTheme"/>
        <activity android:name=".view.XVideoActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
                android:name=".view.ResponseActivity"
                android:screenOrientation="portrait"
                android:theme="@style/SplashTheme">
        </activity>
        <activity
                android:name=".view.LoginActivity"
                android:screenOrientation="portrait"
                android:theme="@style/SplashTheme"/>
        <activity
                android:name=".view.SplashActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme"
                android:windowSoftInputMode="adjustResize"/>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.xcaret.loyaltyreps"
                android:exported="false"
                android:grantUriPermissions="true"
                tools:replace="android:authorities">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths">
            </meta-data>
        </provider>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>


        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/ic_launcher_foreground" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorAccent" />
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="@string/default_notification_channel_id" />

    </application>
</manifest>